@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body{
  background-color: #000;
  color: #fff;
}

.red .carousel .control-dots .dot {
  background: #9a0b0b!important;
}

.MuiButtonBase-root .MuiAccordionSummary-root .MuiAccordionSummary-gutters .css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root{
  background-color: #181818;
  color: #fff;
}